<header class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <a class="logo" href="/">Recipe App</a>
    <div class="flex text-white mr-6 px-5 border">
        <%= link_to "Foods", foods_path, class: "p-6" %>
        <%= link_to 'Recipes', class: "p-6" %>
        <%= link_to 'Public Recipes', class: "p-6" %>
    </div>
</header>